<%= form_for(@carpoolingrequest) do |f| %>
  <% if @carpoolingrequest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carpoolingrequest.errors.count, "error") %> prohibited this carpoolingrequest from being saved:</h2>

      <ul>
      <% @carpoolingrequest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :travel_id %><br>
    <%= f.number_field :travel_id %>
  </div>
  <div class="field">
    <%= f.label :prefer_from %><br>
    <%= f.text_field :prefer_from %>
  </div>
  <div class="field">
    <%= f.label :prefer_to %><br>
    <%= f.text_field :prefer_to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
