<p id="notice"><%= notice %></p>

<h1>Listing Carpoolingrequests</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Password</th>
      <th>User</th>
      <th>Travel</th>
      <th>Prefer from</th>
      <th>Prefer to</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carpoolingrequests.each do |carpoolingrequest| %>
      <tr>
        <td><%= carpoolingrequest.email %></td>
        <td><%= carpoolingrequest.password %></td>
        <td><%= carpoolingrequest.user_id %></td>
        <td><%= carpoolingrequest.travel_id %></td>
        <td><%= carpoolingrequest.prefer_from %></td>
        <td><%= carpoolingrequest.prefer_to %></td>
        <td><%= link_to 'Show', carpoolingrequest %></td>
        <td><%= link_to 'Edit', edit_carpoolingrequest_path(carpoolingrequest) %></td>
        <td><%= link_to 'Destroy', carpoolingrequest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carpoolingrequest', new_carpoolingrequest_path %>
